<div>
    <div class="jumbo-image" >
        <div calss="container" style="height: 100%" >
            <div class="col-md-6 col-md-offset-3 text-center" style="height: 100%;">
                <div class="input-group" style="position: absolute; top: 65%; margin-right: 30px">
                    <input class="form-control" placeholder="Enter full Battletag (eg: Name-####)" ng-model="vm.battleTag"/>
                    <span class="input-group-btn">
                        <button class="btn btn-success" ng-click="vm.getProfile(vm.battleTag)" style="width: 50px">
                            <span ng-if="vm.isFetching == false">GO!</span>
                            <span ng-if="vm.isFetching"><span class="fa fa-spin fa-spinner"></span></span>
                        </button>
                    </span>
                </div>
                <!--<div style="position: absolute; top: 75%">
                    <div class="text-center" style="color: white">
                        <span class="label label-warning">Warning</span> Player searching is case sensitive.
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>