.jumbo-image {
    margin-top: -75px;
    /*background-image: url('overwatch-all-heroes-wallpaper-hd.jpg');*/
    background-image: url('overwatch-all-heroes-wallpaper-hd-edit.jpg');
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position-x: center;
    background-position-y: 50px;
    height: 539px;
}

.navbar {
    border-radius: 0 !important;
}

.avatar {
    height: 120px;
    width: 120px;
    border: solid 4px #E7E7E7;
}

.clickable {
    cursor: pointer;
}

.nav.nav-pills {
    background-color: #F8F8F8;
    border-bottom: solid 3px #E7E7E7;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #555555;
    background-color: #E7E7E7;
    border-radius: 0;
}


.nav > li > a {
    color: #555;
}
.nav > li > a:hover {
    background-color: #e7e7e7;
    border-radius: 0;
}

.hero-table {
    border: solid 2px white;
}

.hero-table > tbody > tr {
    background-color: #f8f8f8;
    border: solid 5px white;
}

.hero-table > tbody > tr:hover, 
.hero-table > tbody > tr:hover .percentage {
    background-color: #e7e7e7;
}

.hero-table > tbody > tr > td {
    border-left: solid 2px white;
    border-right: solid 2px white;
}


.percentage{
    position:relative;
    width: 100%;
    height: 40px;
    background-color: #f8f8f8;
}

/*.percentage:hover {
    background-color: #e7e7e7;
}*/

.percentage-bar {
    position: absolute;
    width: 10%;
    height: 100%;
    margin-top: -19px;
    background-color: red;
}

.panel-body {
    background-color: #f7f7f7;
}

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

@media only screen 
and (max-width : 320px) {
    
}

